<footer>
    <div class="copyright">
        <p th:if="${not #strings.isEmpty(theme.config.basic.iemo_icp)}"><a href="https://beian.miit.gov.cn"
                                                                           target="_blank"
                                                                           th:text="${theme.config.basic.iemo_icp}"></a>
        </p>
        <p th:if="${not #strings.isEmpty(theme.config.basic.iemo_icp_gov)}">
            <a th:href="|https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=${theme.config.basic.iemo_icp_gov}|"
               target="_blank"
               th:text="${theme.config.basic.iemo_icp_gov}"></a>
        </p>
        <p>
            Copyright ©
            [[${#strings.isEmpty(theme.config.basic.iemo_copyright) ? '2024' : theme.config.basic.iemo_copyright}]]
            <a href="/" th:text="${site.title}"></a>
        </p>
        <p>
            Powered by
            <a href="https://halo.run" class="hover:underline" target="_blank">Halo Pro 2.15.2</a>.
        </p>
        <p th:if="${theme.config.basic.iemo_upyun}" style="white-space: nowrap; display: flex; align-items: center;">
            本站由
            <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank"
               style="display: flex; align-items: center;">
                <img th:src="@{/assets/images/upyun.png}" alt="又拍云"
                     style="vertical-align: middle; height: 26px; margin-top: -3px;">
            </a>
            提供CDN加速/云存储服务
        </p>


    </div>
</footer>